@import 'vars';
@import 'fonts';

html{
box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body{
font-family: 'TT Lakes', sans-serif;
min-width:320px;
overflow-x: hidden;
background-color: $bg;
}

.header{
    box-shadow: 0 1px $shadow;
    background-color:$header;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 16px;
      min-height: 88px;
    }

    &__bur-logo {
      display: flex;
      align-items: center;
    }
    &__bur-button {
      background-image: url(../img/Burger.svg);
    }
    &__buttons {
      display: flex;
      align-items: center;
    }
    &__divider {
      display: block;
      width: 2px;
      height: 32px;
      margin: 0 20px;
      background: $divider;
      border-radius: 1px;
    }
    &__buttons-repair {
      background-image: url(../img/Repair.svg);
    }
    &__buttons-checkstatus {
      background-image: url(../img/Checkstatus.svg);
    }
}

.logo-image{
    display: block;
    width: 96px;
    height: 50px;
    cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $button;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}






.title {
  &__head {
    position: relative;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 16px;
  }
  &__head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color:$highlight;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.nav-bar{
  &__inner {
    position: relative;
  }
  &__list {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 16px;
    margin-bottom: 24px;
    margin-top: 0;
    overflow: hidden;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 40px;
    letter-spacing: -0.2px;
    &--active {
      list-style: none;
      background: $header;
      border: 2px solid $navbuttonbr;
      border-radius: 6px;
    }
  }
  &__link {
    white-space: nowrap;
    text-decoration: none;
    font-weight: 500;
    color: $buttontext;
    font-size: 16px;
    padding: 8px 16px;
  }
}

.fade {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 24px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  &__company{
    margin: 0;
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    &--1st {
      margin-top: 0;
    }
    &--2nd {
      display: none;
    }
    &--3rd {
      display: none;
    }
  }
  &__more {
    display: flex;
    align-items: center;
    margin: 16px 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
  }
  &__more::before {
    content: url(../img/icon.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  &__main-image {
    display: block;
    height: 100%;
  }
}

.px768-buttons {
  display: none;
  &__call {
    background-image: url(../img/Call.svg);
  }
  &__chat {
    background-image: url(../img/Chat.svg);
  }
  &__profile {
    background-image: url(../img/Profile.svg);
  }
}

.side{
  &__sidebuttons
  {
  display: none;
  }
  &__sidebuttons-text{
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 8px;
    font-weight: 500;
    letter-spacing: -0.2px;
    cursor: pointer;
  }
  &__sidebuttons-repair{
    background-image: url(../img/Repair.svg);
  }
  &__sidebuttons-checkstatus{
    background-image: url(../img/Checkstatus.svg);
  }
}

.hide{
  display: none;
}

@media (min-width: 768px) {

  .hide{
    display: block;
  }
  .header__bur-button {
    margin-right: 0;
  }
  .px768-buttons {
    display: flex;
  }
  .button:last-child {
    margin-right: 0;
  }
  .main__content {
    padding: 0 24px;
  }
  .content{
    align-items: center;
    flex-direction: row;
  }
  .main__content > * {
    width: 50%;
  }
  
  .content__company {
    padding-left: 0;
    padding-right: 48px;
    line-height: 20px;
    &--2nd {
      display: inline;
    }
  }
  .content__main-image {
    border-radius: 6px;
  }
  .content__company {
    align-self: start;
    padding-top:15px;
  }
  .title__head{
    padding: 0 20px;
  }
  .header__inner {
    padding: 18px 24px;
  }
  .nav-bar__list {
    padding-left: 24px;
  }
}

@media (min-width: 1120px) {

  .header {
    display: none;
  }
  
  .side{
  &__sidebuttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  }

  .nav-bar__list {
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    padding: 0 34px;
    margin-bottom: 0;
  }

  .content__company {
    &--3rd {
      display: inline;
    }
  }

  .title {
    &__head {
      margin: 0;
      padding-left: 30px;
    }
  }

  .main {
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 42px;
      padding-bottom: 8px;
      padding-right: 32px;
    }
    &__content {
      padding: 0 34px;
    }
  }

  .content__company{
    align-self: start;
   padding-top:15px;
    padding-right: 36px;
  }
  
  .fade {
    display: none;
  }
}
